body {
  display: flex;
    margin: 0px;
    background-color: #ffc6c6;
}

#main-container {
 position: absolute; 
 display: flex;
 flex-direction: row;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 1200px; 
  height: 1000px;
  background-color: rgb(254, 249, 235);
}
h1 {
display: flex;
justify-content: flex-start;
align-items: baseline;
color: rgb(255, 100, 100);
font-family: 'Philosopher', sans-serif;
font-size: 125px;
margin: 25px;
padding: 5px;
height:125px ;
}

#nav {
  position: absolute;
display: flex;
flex-direction: row;
justify-content: space-around;
align-self: flex-start;

height: 118px;
width: 1200px;
font-family: 'Philosopher', sans-serif;
font-size: 40px;
background-color: #FFA4A4;
color: rgb(255, 255, 255);
}

ul {
  display: flex;
    Flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
list-style-type: none;
}

#welcomepage {
  display: flex;
  align-self: flex-end;
  justify-content: left;
  flex-direction: column;
  width: 700px;
  height: 870px;
  margin: 5px;
  overflow: scroll;
  
  /* border: solid 2px blue; */
}

p {
 font-family: Arial, Helvetica, sans-serif;
 margin: 15px;
 font-size: 30px;
 display: flex;
 justify-content: center;
}

#newestart {
  display: flex;
  align-self: flex-end;
  width: 500px;
  height: 870px;
  overflow: scroll;
  /* background-color: rgb(241, 228, 228); */
}

h2 {
  display: flex;
justify-content: center;
align-items: baseline;
color: rgb(255, 255, 255);
font-family: 'Philosopher', sans-serif;
background-color: #FFA4A4;
font-size: 70px;
margin: 15px;
padding: 6px;
height:80px ;
width: 450px;
}

#Aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 100, 100);
  font-family: 'Philosopher', sans-serif;
  font-size: 175px;
  margin: 150px;
  padding: 5px;
  height:125px ;
}

#main-container2 {
  position: absolute; 
  display: flex;
   left: 0; 
   right: 0; 
   margin-left: auto; 
   margin-right: auto; 
   width: 1200px; 
   height: 1000px;
   background-color: rgb(254, 249, 235); 
  overflow: scroll;}

  #AMtxt {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    font-size: 30px;
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: center;
  }