body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ParaOverride-1 {
	text-align:center;
}
p.ParaOverride-2 {
	-epub-hyphens:none;
}
span.CharOverride-1 {
	color:#f16e91;
	font-family:Philosopher, sans-serif;
	font-size:60px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	color:#df748f;
	font-family:Philosopher, sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	color:#df748f;
	font-family:Arial, sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	font-family:Arial, sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#ffffff;
}
span.CharOverride-6 {
	color:#ffffff;
	font-size:10px;
}
span.CharOverride-7 {
	color:#f2f9fa;
}
span.CharOverride-8 {
	color:#fbfdff;
}
span.CharOverride-9 {
	color:#ffffff;
	font-family:Philosopher, sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-10 {
	color:#ffffff;
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#dd748f;
	font-family:Philosopher, sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-12 {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	display:inline-block;
	height:76px;
	width:612px;
}
#_idContainer004, #_idContainer006 {
	display:inline-block;
	height:0px;
	position:relative;
	width:80px;
}
#_idContainer005 {
	display:inline-block;
	height:0px;
	position:relative;
	width:63px;
}
#_idContainer007 {
	display:inline-block;
	height:203px;
	width:539px;
}
#_idContainer009 {
	display:inline-block;
	height:187px;
	position:relative;
	width:263px;
}
#_idContainer012, #_idContainer022, #_idContainer038 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:3;
}
#_idContainer013, #_idContainer039 {
	-ms-transform:translate(29.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(29.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(29.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(29.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:2;
}
#_idContainer014, #_idContainer040 {
	-ms-transform:translate(59.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(59.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(59.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:1;
}
#_idContainer015, #_idContainer041 {
	-ms-transform:translate(90.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(90.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(90.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(90.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:0;
}
#_idContainer016 {
	-ms-transform:translate(0.000px,189.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,189.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,189.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,189.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:107.50px;
	z-index:1;
}
#_idContainer017, #_idContainer027 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:2;
}
#_idContainer018 {
	-ms-transform:translate(29.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(29.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(29.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(29.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:3;
}
#_idContainer019 {
	-ms-transform:translate(60.984px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(60.984px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(60.984px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(60.984px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:1;
}
#_idContainer020 {
	-ms-transform:translate(91.969px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(91.969px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(91.969px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(91.969px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:0;
}
#_idContainer021 {
	-ms-transform:translate(0.384px,115.918px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.384px,115.918px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.384px,115.918px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.384px,115.918px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:109.47px;
	z-index:3;
}
#_idContainer023 {
	-ms-transform:translate(30.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(30.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(30.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(30.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:2;
}
#_idContainer024 {
	-ms-transform:translate(60.984px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(60.984px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(60.984px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(60.984px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.89px;
	z-index:1;
}
#_idContainer025 {
	-ms-transform:translate(61.293px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(61.293px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(61.293px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(61.293px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:0;
}
#_idContainer026 {
	-ms-transform:translate(0.384px,154.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.384px,154.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.384px,154.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.384px,154.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:78.79px;
	z-index:6;
}
#_idContainer028, #_idContainer033 {
	-ms-transform:translate(30.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(30.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(30.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(30.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:1;
}
#_idContainer029 {
	-ms-transform:translate(62.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(62.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(62.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:0;
}
#_idContainer030 {
	-ms-transform:translate(0.495px,77.568px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.495px,77.568px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.495px,77.568px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.495px,77.568px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:80.00px;
	z-index:4;
}
#_idContainer031 {
	-ms-transform:translate(1.161px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.161px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:283.06px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(1.161px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.161px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:264.00px;
	z-index:0;
}
#_idContainer032 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:0;
}
#_idContainer034 {
	-ms-transform:translate(62.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(62.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(62.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:2;
}
#_idContainer035 {
	-ms-transform:translate(91.969px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(91.969px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(91.969px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(91.969px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:3;
}
#_idContainer036 {
	-ms-transform:translate(119.889px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(119.889px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(119.889px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(119.889px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:4;
}
#_idContainer037 {
	-ms-transform:translate(1.161px,38.393px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.161px,38.393px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.161px,38.393px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.161px,38.393px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:137.39px;
	z-index:5;
}
#_idContainer042 {
	-ms-transform:translate(1.368px,231.381px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.368px,231.381px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.368px,231.381px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.368px,231.381px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:107.50px;
	z-index:2;
}
#_idContainer043 {
	-ms-transform:translate(89.144px,77.156px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(89.144px,77.156px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(89.144px,77.156px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(89.144px,77.156px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.89px;
	z-index:13;
}
#_idContainer044 {
	-ms-transform:translate(89.453px,77.156px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(89.453px,77.156px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(89.453px,77.156px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(89.453px,77.156px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:12;
}
#_idContainer045 {
	-ms-transform:translate(92.353px,154.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(92.353px,154.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(92.353px,154.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(92.353px,154.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:9;
}
#_idContainer046 {
	-ms-transform:translate(117.800px,231.381px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(117.800px,231.381px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(117.800px,231.381px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(117.800px,231.381px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:11;
}
#_idContainer047 {
	-ms-transform:translate(121.050px,77.656px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(121.050px,77.656px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(121.050px,77.656px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(121.050px,77.656px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:7;
}
#_idContainer048 {
	-ms-transform:translate(121.050px,115.418px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(121.050px,115.418px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(121.050px,115.418px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(121.050px,115.418px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:14;
}
#_idContainer049 {
	-ms-transform:translate(121.050px,154.181px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(121.050px,154.181px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(121.050px,154.181px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(121.050px,154.181px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:8;
}
#_idContainer050 {
	-ms-transform:translate(121.273px,189.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(121.273px,189.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(121.273px,189.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(121.273px,189.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
	z-index:10;
}
#_idContainer051 {
	display:inline-block;
	height:283px;
	position:relative;
	width:265px;
}
#_idContainer053 {
	display:inline-block;
	height:0px;
	position:relative;
	width:107px;
}
#_idContainer054 {
	display:inline-block;
	height:0px;
	position:relative;
	width:164px;
}
#_idContainer055 {
	display:inline-block;
	height:102px;
	width:263px;
}
#_idContainer056 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.999deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.999deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:91px;
	transform:translate(0.000px,0.000px) rotate(0.999deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.999deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:139px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	background-color:#f6a0b0;
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#ffffff;
	border-color:#ffffff;
}
div._idGenObjectStyleOverride-4 {
	background-color:#f16e91;
	border-width:0px;
}
div._idGenObjectStyleOverride-5 {
	background-color:#eaa4b1;
}
div._idGenObjectStyleOverride-6 {
	background-color:#ffffff;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	margin:1px 1px 1px 1px;
}
